@model ML.Materia
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Formulario Usuarios</h1>
    <div class="row">
        @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(Model => Model.IdMateria)

            <div class="col-md-4">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", onkeypress = "return soloLetras(this, event)", onblur = "return soloLetras(this, event)", @id = "txtNombre" })
                    <span></span>
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Nombre, "Apellido Paterno")
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", onkeypress = "return soloLetras(this, event)", @id = "txtDescripcion" })
                    <span></span>

                </div>
                @* <div class="col-md-12">
                    @Html.LabelFor(model => model.Creditos)
                    @Html.TextBoxFor(model => model.Creditos, "{0:#.#}", new { @class = "form-control" })
                </div> *@

            </div>
            <div class="col-md-4">
                <div class="col-md-12 mt-2">
                    @Html.LabelFor(model => model.Costo)
                    @Html.TextBoxFor(model => model.Costo, "{0:#.#}", new { @class = "form-control" })
                </div>

                @*  <div class="col-md-12 mt-2">
                    @Html.LabelFor(model => model.Semestre)
                    @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Seleccione un semestre", new { @class = "form-control" })

                </div> *@
            </div>
            <div class="row mt-3">
                <div class="col-md-6">

                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>

                <div class="col-md-6">
                    @Html.ActionLink("Regresar", "GetAll", "Materia", new { @class = "btn btn-danger" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="text" onblur="validarCorreo(this)" />
                </div>

            </div>

        }
    </div>
</div>


<script>
    function soloLetras(input, event){  // Nombre, Apellido Paterno, Apellido Materno
            
        // ENCONTRAR A EL CONTENEDOR DE MI ETIQUETA INPUT
        var div = $(input).closest("div");
        var span = div.children("span");
        // div.find("input");
        // div.children("span")

        if(event.type == "keypress"){
            console.log("keypess")
            var regex = /^[a-zA-Z ]+$/
           if(regex.test(event.key)){
               console.log("Paso la regex")
               $(input).css("border", "2px solid green");
               span.text("").removeClass("text-danger");
               return true
           }else{
                console.log("No paso")
               $(input).css("border", "2px solid red");
               span.text("Solo se acpetan letras").addClass("text-danger");
               return false;
           }
        }else if(event.type == "blur"){
                        console.log("blur")
            // Validar todo el texto completo
        }

    }



    // Validacion para numeros  Celular y telefono
    // Validacion para username
    // validacion CURP, correo  evento onblur


        function validarCorreo(input){
            console.log("@@")
            console.log(input)

        var regex = /^\b[A-Z0-9._%-]+@@[A-Z.-]+\.[A-Z]{2,4}\b$/i

       if(regex.test($(input).val())){
           console.log("Paso la regex")
           $(input).css("border", "2px solid green");
           return true
       }else{
            console.log("No paso")
           $(input).css("border", "2px solid red");
           return false;
       }
    }




</script>
